{% extends "templates/base.html" %}

{% block content %}
<div class='container'>
	<div class="row">
        <div class="col-md-6 portfolio-item">
            <a href="blogone.html">
                <img class="img-responsive" src="static/images/cod.jpg" alt="">
            </a>
            <h3>
                <a href="blogone.html">Social Realism in FPS Games</a>
                </h3>
            <p>Imagine playing a video game with content in parallel with your social beliefs in real life. The video game becomes more than just a game, but reality, with a reaffirmation of social issues that are near and dear to you.</p>
        	
        </div>
		
		<div class="col-md-6 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://placehold.it/700x400" alt="">
            </a>
            <h3>
                <a href="#">Picture Two</a>
                </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://placehold.it/700x400" alt="">
            </a>
            <h3>
                <a href="#">Picture Three</a>
                </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>

        <div class="col-md-6 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://placehold.it/700x400" alt="">
            </a>
            <h3>
                <a href="#">Picture Four</a>
                </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
	</div>

	<div class="row">
        <div class="col-md-6 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://placehold.it/700x400" alt="">
            </a>
            <h3>
                <a href="#">Picture Five</a>
                </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>

        <div class="col-md-6 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://placehold.it/700x400" alt="">
            </a>
            <h3>
                <a href="#">Picture Six</a>
                </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
	</div>
</div>		
{% endblock %}

