{% extends "templates/base.html" %}

{% block content %}
<div class='container'>
	<div class="row">
        <div class="col-md-6 portfolio-item">
            <a href="blogone.html">
                <img class="img-responsive" src="static/images/cod.jpg" alt="blog1">
            </a>
            <h3>
                <a href="blogone.html">Social Realism in FPS Games</a>
                </h3>
            <p>Imagine playing a video game with content in parallel with your social beliefs in real life. The video game becomes more than just a game, but reality, with a reaffirmation of social issues that are near and dear to you.</p>
        	
        </div>
		
		<div class="col-md-6 portfolio-item">
            <a href="blogtwo.html">
                <img class="img-responsive" src="static/images/fakebook.jpg" alt="blog2">
            </a>
            <h3>
                <a href="blogtwo.html">I Liked Everything I Saw on Facebook for Two Days. Here's What It Did to Me</a>
                </h3>
            <p>Mat Honan performed a social experiment where he discovered that after clicking on the “like” field on Facebook for every subject matter that appeared on his screen, his content rapidly changed from social information about his friends and family to solely advertisements.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 portfolio-item">
            <a href="blogthree.html">
                <img class="img-responsive" src="static/images/racism.jpg" alt="blog3">
            </a>
            <h3>
                <a href="blogthree.html">Virtual Hate</a>
                </h3>
            <p>In today's world there are racists, anti-Semites, anit-gays and for whatever reason were born to hate. Unfortunately, this hatred has manifested over the Internet and into the gaming community. </p>
        </div>

        <div class="col-md-6 portfolio-item">
            <a href="blogfour.html">
                <img class="img-responsive" src="static/images/violentgames.jpg" alt="blog4">
            </a>
            <h3>
                <a href="blogfour.html">The Negative Stigma of Video Games</a>
                </h3>
            <p>The negative stigma of video games is based on peoples’ perceptions of games as well as gamers, as some view games as a media where white nerdy teenage boys sit in an isolated room eating Fritos, leading to no useful or educational benefits, but only promoting violence.</p>
        </div>
	</div>

	<div class="row">
        <div class="col-md-6 portfolio-item">
            <a href="blogfive.html">
                <img class="img-responsive" src="static/images/mengamers.jpg" alt="blog5">
            </a>
            <h3>
                <a href="blogfive.html">How Games Became Gendered</a>
                </h3>
            <p>Since the creation of the Magnavox Odyssey in 1972, the first home gaming console, games’ intended audience was families. However, as time went on games quickly became gendered, which can be seen starting from the establishment of arcades.</p>
        </div>

        <div class="col-md-6 portfolio-item">
            <a href="blogsix.html">
                <img class="img-responsive" src="static/images/cjgang.jpg" alt="blog6">
            </a>
            <h3>
                <a href="blogsix.html">How to Analyze Games as Cultural Objects</a>
                </h3>
            <p>As a non-gamer with few experiences in the gaming community, I immediately found the video game culture surrounding GTA San Andreas a bit disturbing. Applying the video game analysis model constructed by Latorre, my initial impressions were that this game not only consisted of a culture that caters to males and degrades women, but also encourages violence and stereotypes of minorities.
            </p>
        </div>
	</div>

    <div class="row">
        <div class="col-md-6 portfolio-item">
            <a href="blogseven.html">
                <img class="img-responsive" src="static/images/anonymous.jpg" alt="blog7">
            </a>
            <h3>
                <a href="blogseven.html">Hacker Culture</a>
                </h3>
            <p>Anonymous is an international group of hackers that troll the Internet and use message boards to communicate with each other in order to target government, religious, and corporate websites.
            </p>
        </div>

        <div class="col-md-6 portfolio-item">
            <a href="blogeight.html">
                <img class="img-responsive" src="static/images/freelabor.jpg" alt="blog8">
            </a>
            <h3>
                <a href="blogeight.html">Free Labor</a>
                </h3>
            <p>We are a society of data junkies who surf the Internet craving endless amounts of information. We are a new culture that feels the need to constantly be online.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 portfolio-item">
            <a href="blognine.html">
                <img class="img-responsive" src="static/images/musicvideo.jpg" alt="blog9">
            </a>
            <h3>
                <a href="blognine.html">Close Reading</a>
                </h3>
            <p>I recently watched a video “Wake Me Up” by a DJ known as Avicii. As I watched this video it brought back memories of that high school day where I realized I was a conformist. 
            </p>
        </div>

        <div class="col-md-6 portfolio-item">
            <a href="blogten.html">
                <img class="img-responsive" src="static/images/protection.jpg" alt="blog10">
            </a>
            <h3>
                <a href="blogten.html">Infographics</a>
                </h3>
            <p>
                The main objective of my infographics are to educate social media users on the importance of protecting their identity online with some insight into the technological advancement that has occurred.
            </p>
        </div>
    </div>
</div>		
{% endblock %}

