{% extends "templates/base.html" %}

{% block content %}

<h1>Infographics</h1>

<img class='blogpictures' src="static/images/protection.jpg" alt="" width='500' height='250'>

<p class='blogtext'>
For this infographic my goal is to inform anyone on social media sites, more specifically Facebook users, on the importance of protecting their identity on this network. It is important that people are aware of the abundant amount of malicious intent that exists on social media sites such as Facebook. In order to illustrate this situation I displayed the percentage of teenagers who have given out personal information, been stalked, been cyber bullied, posted mean information, and had embarrassing information made public on Facebook. For this reason, I also illustrate how people can protect themselves from these statistics. 
</p>
<img class='blogpictures' src="static/images/fbstats.jpg" alt="" width='400' height='300'>

<p class='blogtext'>
For example, using a stronger password, getting notifications to your phone, blocking specific people, restricting your profile, limiting shared information, unchecking “keep me logged in,” and seeing how others view your profile will all help increase the security of users’ profiles. Therefore, these safety precautions will protect a user’s privacy because his or her information will be limited from the public. This will not only prevent stalkers, but it will also prevent cyber bullying with private information remaining private. 
</p>

<p class='blogtext'>
The main objective of this infographic is to educate social media end users with some insight into the technological advancement that has occurred. Web 1.0 and Web 2.0 are software programs that allow users to view webpages. Web 1.0 can best be described as the read only web. This was the first version of displaying static websites that were mostly pictures and some verbiage. Conversely, Web 2.0 allows users to finally interact with a website.
</p>
<img class='blogpictures' src="static/images/webevolution.jpg" alt="" width='500' height='200'>


<p class='blogtext'>
 People can collaborate with one another, express themselves on a website, and link people to other users. With this increase in interactions, all users are able to post as they please, which democratizes information. For example, all people have open access to sites such as social networks and are therefore able to freely express themselves, and as a result of users starting to share information, there is an increase in the amount of user-generated content available to the public. For this reason, it can be concluded that Web 2.0 was the key technology that sparked the social media revolution.  
</p>
<img class='blogpictures' src="static/images/webdif.jpg" alt="" width='350' height='350'>

{% endblock %}