{% extends "templates/base.html" %}
{% block content %}

<p>
I hope you enjoyed my web portfolio. If you have any questions at all please do not hesitate to leave a message below. Also, if you have any information you would like me to blog about, please feel free to leave a suggestion. I look forward to receiving your comments! 
</p>

	<form method= "post">
		<label>Name:<input type= 'text' name= 'name' id='name'></label><br/>
		<label>Email:<input type= 'email' name= 'email' id='e1'></label><br/>
		<label>Message:<input type= 'text' name= 'message' id='message'></label><br/>
			<p><input type='submit' value= 'submit'></p>
	</form>

{% endblock %}